@import "base.css";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 1px solid red;
}

body {
  background-color: #313F38;
}

.header {
  background-color: #313F38;
}

.header__container {
  padding-top: 20px;
  padding-bottom: 24px;
  position: relative;
}

.header__logo {
  font-size: 16px;
  line-height: 19px;
  color: #FFFCF6;
  font-weight: 500;
}

.header--backdrop {
  margin-bottom: 80px;
}

.backdrop {
  background-color: #313F38;
  display: none;
}

.mainNav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 119px;
}

.mainNav__item {
  font-size: 30px;
  line-height: 30px;
  color: #FFFCF6;
  font-weight: 400;
}

.header__link {
  font-size: 20px;
  line-height: 20px;
  color: #FFFCF6;
  font-weight: 400;
  display: block;
  margin-bottom: 40px;
  text-align: center;
}

.header__link--bordered::after {
  content: "";
  display: block;
  width: 168px;
  height: 1px;
  background-color: #FFFCF6;
  opacity: 0.2;
  margin: 0 auto;
}
.header__link--bordered::after--small {
  font-size: 18px;
  line-height: 22px;
  color: #FFFCF6;
  font-weight: 400;
  display: block;
  margin-bottom: 40px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-list__item {
  font-size: 12px;
  line-height: 20px;
  color: #FFFCF6;
  font-weight: 500;
}

.social-list__item:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #FFFCF6;
  opacity: 0.2;
  margin: 0 auto;
}

.menu-icon {
  fill: #fff;
  position: absolute;
  top: 20px;
  right: -16px;
}

.backdrop__icon {
  fill: #FCD043;
  position: absolute;
  top: 115px;
  left: 120px;
}

.main {
  background-color: #313F38;
}

.navigation {
  margin-bottom: 40px;
}

.navigation__title {
  font-size: 80px;
  line-height: 100%;
  color: #FFFCF6;
  font-weight: 400;
  margin-bottom: 24px;
}
.navigation__title--another {
  color: #FCD043;
}

.navigation__text {
  font-size: 12px;
  line-height: 14px;
  color: #FCD043;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.navigation__text::after {
  content: "";
  display: block;
  width: 173px;
  height: 1px;
  background-color: #FFFCF6;
  opacity: 0.2;
  margin: 24px auto;
}

.navigation__subtitle {
  font-size: 14px;
  line-height: 23px;
  color: #FFFCF6;
  font-weight: 400;
  width: 285px;
  margin: 0 auto;
  text-align: center;
}

.svg-large {
  display: none;
}

.navigation__button {
  display: none;
}

.hero {
  margin-bottom: 50px;
}

.wrap {
  width: 355px;
  height: 425px;
  background-image: url("/images/image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.order {
  display: none;
}

.about-us__address {
  display: none;
}

.about-us__text {
  font-size: 20px;
  line-height: 100%;
  color: #FFFCF6;
  font-weight: 400;
  text-transform: uppercase;
  width: 170px;
}

/*# sourceMappingURL=style.css.map */
