@import "base";
@import 'variebles';
@import "header";



// main
.main{
  background-color: $primary-color;
}
//navigation
.navigation{
  margin-bottom: 40px;
}
.navigation__title{
  @include fontConfig(80px,100%,#FFFCF6);
  margin-bottom: 24px;
  &--another{
  color:#FCD043;
  }
}

.navigation__text{
  @include fontConfig(12px,14px,#FCD043);
  text-align: center;
  text-transform: uppercase;

  &::after{
    content: '';
    display: block;
    width: 173px;
    height: 1px;
    background-color: #FFFCF6;
    opacity: 0.2;
    margin: 24px auto ;
  }
}
.navigation__subtitle{
  @include fontConfig(14px,23px,#FFFCF6);
  width: 285px;
  margin: 0 auto;
  text-align: center;
}
.svg-large{
  display: none;
}
.navigation__button{
  display: none;
}

//hero
.hero{
  margin-bottom: 50px;
}
.wrap{
  width: 355px;
  height: 425px;
  background-image: url("/images/image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.order{
  display: none;
}

//about-us

.about-us{

}

.about-us__address{
  display: none;
}
.about-us__text{
  @include fontConfig(20px,100%,#FFFCF6);
  text-transform: uppercase;
  width: 170px;
}